html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
    margin: 0;
	padding: 0;
    overflow: hidden;
	overflow-y: auto;
	position: relative;

}
body::-webkit-scrollbar {
    width: 8px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #7e80a2;
    /* outline: 1px solid #030047; */
    border-radius: 10px;

  }

p, a {
    font-family: PoppinsRegural;
    color: black;
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6 {
    font-family: OpenSansBold;
}

ul li, ol li {
    list-style: none;
}


@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family:OpenSansRegural ;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family:OpenSansLight ;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSansSemi;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsSemi ;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsRegural ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsBold ;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: BeautyFont ;
    src: url(../fonts/BeautyDemo.ttf);
}



.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* backdrop-filter: blur(2px); */
    background-color: #030047;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / .2);
    z-index: 1;
    padding: 12px;
}

.btN a:hover, .dropdown-content a {
    color: #fff !important;
    display: block;
}
.dropdown-menu.show, .dropdown:hover .dropdown-content {
    display: block;
}

nav .links {
    display: flex;
    gap: 20px;
}
.dropbtn {
    cursor: pointer;
}
.navinner-drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}
.navinner-drop img {
    width: 50px;
    display: none;
}
.navinner-drop a {
    font-size: 15px;
}

.otherunique {
    height: 350px;
    overflow: auto;
}
.otherunique::-webkit-scrollbar {
    width: 8px;
  }
   
  .otherunique::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    
  }
   
  .otherunique::-webkit-scrollbar-thumb {
    background-color: #7e80a2;
    /* outline: 1px solid #030047; */
    border-radius: 10px;

  }
header .sec1-banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    bottom: 0;
    overflow: hidden;
}

span.sptop {
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(28 174 174 / 18%);
    height: 393px;
    width: 320px;
    border-radius: 0 0 380px 0;
    box-shadow: 0px 0px 101px 0px #75bbc1;
    z-index: 3;
}
span.spbottom {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(28 174 174 / 18%);
    height: 393px;
    width: 320px;
    border-radius: 0 0 0 380px;
    box-shadow: 0px 0px 101px 0px #75bbc1;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    /* margin: 0 2rem; */
}
.container-fluid .row {
    padding: 0 1rem ;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.nav-col-4 {
    flex: 0 0 40%;
}
.nav-col-6 {
    flex: 0 0 60%;
}

.col-2 {
    flex: 0 0 50%;
}
.col-3 {
    flex: 0 0 33.33%;
}
.col-4 {
    flex: 0 0 25%;
}
.col-5 {
    flex: 0 0 20%;
}
.col-8 {
    flex: 0 0 80%;
}
.col-12 {
    flex: 0 0 100%;
}
.unique_col_7 {
    flex: 0 0 70%;
}
.unique_col_3 {
    flex: 0 0 30%;
}

.col-2,.col-3,.col-4,.col-5,.col-12,.col-8,.nav-col-4,.nav-col-6,.unique_col_7,.unique_col_3{
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.sec1-banner nav {
    /* padding: 1rem 0; */
    display: flex;
    justify-content: end;
    z-index: 1;
}
.logo img {
    width: 70%;
    margin-bottom: -60px;
}
.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(../images/banner.png);
    z-index: 3 !important;
}
.banner-content {
    padding-top: 5rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    /* font-weight: 600; */
    color: white;
    /* border: 3px solid rgb(252, 70, 100); */
    cursor: pointer;
    position: relative;
    background-color: #7e80a2;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: PoppinsRegural;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#030047;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

   .sec1-banner .navmail {
    background-color: #030047;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: grow-and-shrink 1800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }

   @keyframes grow-and-shrink {
    0% {
      transform: scale(.8);
    }
    100% {
      transform: scale(1);
    }
  }

 
   .sec1-banner .navmail i {
    font-size: 22px;
    color: #fff;
   }

   .navmail  {
    margin-right: 10px;
   }

   .navcta .btn {
    margin-left: 25px;
   }

   .navcta .btn2 {
    background-color: #030047;
   }
   .navcta .btn2::before {
    background-color: #7e80a2;
   }

   .leftnav {
    justify-content: space-around;
   }
   
   .banner-heading h1 span {
    font-family: BeautyFont;
    font-size: 60px;
    color: #fff;
    display: flex;
   }
   

   .banner-content .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 8rem  0;
   }

   .banner-heading h1 {
    font-family:OpenSansSemi ;
    font-size: 55px;
    line-height: 1.2;
   }
   .banner-heading h1 .uniqueH1 {
    font-family:OpenSansSemi ;
    font-size: 40px;
    color: black;
   }
   
   .banner-content .card {
    width: 80%;
    height: 460px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 2rem;
    position: relative;
    /* border-radius: 20px; */
}

.banner-content  .card h2 {
    margin-bottom: 20px;
    font-family: OpenSansLight;
    font-size: 30px;
    text-align: center;
}
.banner-content .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner-content  .card h3 {
    font-size: 23px;
    font-family: OpenSansLight;
    padding-top: 20px;
}
.banner-content  .form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    color: #555a58;
    /* font-family: "Roboto Mono", sans-serif; */
    /* box-shadow: 1px 5px 9px rgba(211, 211, 211, .7); */
}
.banner-content  .form .label {
    display: flex;
    flex-direction: column;
    font-family: OpenSansSemi;
}
.form input.email {
    margin-bottom: 15px;
}
.banner-content  .card .Now {
    width: 100%;
    padding: 10px 0;
    margin-left: 0;
    background: #7e80a2;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
    font-family: PoppinsRegural;
}
.banner-content  .dpservice {
    margin-top: 15px;
}
.banner-content label #service {
    padding: 8px;
    border: 1px solid #e1e1e1;
    /* box-shadow: 1px 5px 9px rgba(211, 211, 211, .7); */
    border-radius: 5px;
    background-color: #fff;
}
.banner-checkicons {
    padding-top: 1rem;
    display: flex;
    
}
.banner-checkicons ul li {
    font-family: PoppinsRegural;
    padding-top: 8px;
}
.banner-checkicons i {
    padding-right: 5px;
}
.banner-checkicons div:nth-child(2){
    padding-left: 25px;
}
.banner-content .navcta .btn{
    margin-left: 0;
    margin-top: 1.5rem;
}
.banner-content .navcta :nth-child(2){
    margin-left: 25px;
}
/* .joinsbooks {
    position: absolute;
    right: 0px;
    bottom: -52px;
} */

 .joinsbooks {
    position: relative;
 }
.joinsbooks img {
    width: 23%;
    position: absolute;
    right: 0;
    bottom: -30px;
    /* width: auto; */
    animation-name: rotateX;
    animation-duration: 2s;
    animation-iteration-count: 4;
    overflow: hidden;

    animation-direction: alternate;
}
.joinsbooks img:hover{
    animation-name: rotateX;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    overflow: hidden;
}
@keyframes rotateX {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

  .uniqueW {
    width: 130px !important;
  }

  /* .splide__slide img {
    width: 130px;
  } */
  .splide__slide {
    display: flex;
    justify-content: center;
  }
  header section.splide {
    padding: 3.4rem 0;
  }
  header .splide__arrow--next {
    right: 250px !important;
    }
    header .splide__arrow--prev {
    left: 210px !important;
    }
    header .splide__list {
        align-items: center !important;
    }
    header .splide__arrow {
        border: 2px solid black !important;
        background: transparent !important;
    }

    .sec2-Topnotch {
        padding: 3rem 0;
    }
    .sec2-Topnotch .splide__slide img {
        width: 100%;
    }
    #splide3 .imgBox {
        background: white;
        padding: 15px;
        border-left: 4px solid black;
        margin-left: 25px;
        margin-top: -84px;
        z-index: 5;
        position: relative;
        height: 160px;
        overflow: auto;
    }
    .imgBox::-webkit-scrollbar {
        width: 8px;
      }
       
      .imgBox::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        
      }
       
      .imgBox::-webkit-scrollbar-thumb {
        background-color: #7e80a2;
        /* outline: 1px solid #030047; */
        border-radius: 10px;
    
      }
    #splide3 .imgBox h4 {
        font-size: 25px;
    }
    #splide3 .imgBox p {
        font-size: 14px;
    }
    .sec2-Topnotch .container-fluid .splide__arrow--prev svg {
        fill: white;
        width: 32px;
        height: 32px;
    }  
    .sec2-Topnotch .container-fluid .splide__arrow.splide__arrow--next { 
        display: none;
    }
    .sec2-Topnotch .container-fluid .splide__arrow.splide__arrow--prev { 
        background: black;
        color: white;
        width: 70px;
        height: 70px;
        margin-left: -33px;
    }
    .sec2-Topnotch .container-fluid {
        width: 90%;
        margin: 0 auto;
        padding: 40px 0px;
    }
    .splide_slide_box {
        padding: 15px;
    }
.testi-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testi-box .icon .fa-quote-right {
    color: white;
    font-size: 20px;
    background-color: #030047;
    border-radius: 50%;
    padding: 10px;
}
.testi-box .icon {
    color: #8587a7;
}
    /* sec2-about */

    .sec2-Topnotch h3 span {
        color: #7e80a2;
    }
    .sec2-Topnotch h3 {
        font-size: 50px;
        text-align: center;
    }

    .Topnotch p{
        padding: 1rem 3rem;
        text-align: center;
    }


    /* sec3-bestseller */

    .sec3-bestseller {
        background-image: url("../images/bestseller.png");
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sec3-bestseller .seller-bg {
        background-color: #7e80a2;
        height: auto;
        /* padding: 22px; */
    }
    .sec3-bestseller .pRow{
        padding: 4rem 0;
    }

    .seller-bg h3 {
        font-size: 48px;
        color: #fff;
    }
    .seller-bg p {
        color: #fff;
    }
    .seller-bg .Cta a {
        color: #fff;
        font-family: PoppinsRegural;
        transition: all .3s ease-in-out ;
    }
    .seller-bg .Cta a:hover {
        color: #181818;
    }
    .seller-bg .Cta  {
        display: flex;
        align-items: center;
        padding-left: 25px;
    }
    .sec3-bestseller .navcta .btn {
        background-color: #181818;
    }
    
    .sec3-bestseller .navcta .btn2 {
        background-color: #030047;
    }
    .sec3-bestseller .navcta .btn2::before {
        background-color: #747474;
    }

    .sec3-bestseller .navcta {
        padding-top: 30px;
    }
    
    .plantsParent {
        display: flex;
        justify-content: end;
    }

    .plant {
        position: absolute;
        right: 96px;
        bottom: 144px;
       
    }
    .plantbooks img {
        position: relative;
        z-index: 2;
    }
    .plant img {
        position: relative;
        animation-name: zoomX;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes zoomX {
        0% {
          transform: scale(1);
          z-index: 1;
        }
        /* 50% {
          transform: scale(1);
        } */
        100% {
          transform: scale(.8);
          z-index: 1;
        }
      }
    
    
    .plantbooks {
        margin-top: 94px;
    }
    .plantbooks img{
        margin-bottom: -120px;
        margin-right: -45px;
    }
    .sec3-bestseller .navcta .btn {
        margin-left: 0;
    }
    .sec3-bestseller .navcta :nth-child(2) {
        margin-left: 25px;
    }

    /* .sec4-about */

    .sec4-about {
        padding: 3rem 0;
        
    }

    .sec4-about h3{
        font-size: 40px;
        text-align: center;
    }
    .sec4-about span{
        color: #7e80a2;
    }
    .sec4-about .topP p{
        text-align: center;
        width: 60%;
    }
    .sec4-about .row {
        display: flex;
        justify-content: center;
        
    }
    .sec4-about .topP {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }
    .sec4-about .aboutbook img {
        width: 100%;
    }
    .sec4-about h4 {
        font-size: 30px;
    }
    .about-content p {
        padding: 1rem 0;
    }

    .about-content .navcta .btn {
        margin-left: 0;
    }
    .about-content .navcta :nth-child(2) {
        margin-left: 25px;
    }
    .Blog .navcta .btn {
        background-color: #e07b20;
    }
    .Blog .navcta .btn2 {
        background-color: #017b8a;
    }
    
    .Blog {
        padding-top: 6rem;
    }

    /* sec5-unlock */

    .sec5-unlock {
        background-image: url("../images/today-bg.png");
        height: auto;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sec5-unlock .row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
        text-align: center;
    }
    .sec5-unlock h4 {
        color: #fff;
        font-size: 26px;
        font-family: 'OpenSansLight';
    }
    .sec5-unlock h2 {
        font-size: 40px;
        color: #fff;
    }

    .unlock-content .navcta {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 1.5rem;
    }

    .unlock-content .navcta .btn {
        background-color: #181818;
    }
    .unlock-content .navcta .btn::before {
        background-color: #7e80a2;
    }
    .unlock-content .navcta .btn2 {
        background-color: #030047;
    }
    .unlock-content .navcta .Cta a {
        color: #fff;
        font-family: PoppinsRegural;
        transition: all .3s ease-in-out;
    }
    .unlock-content .navcta .Cta a:hover {
        color: #7e80a2;
    }
    
    .unlock-content .navcta .Cta {
        display: flex;
        align-items: center;
        padding-left: 25px;
    }

    /* sec6-Ourtabs */

    .sec6-Ourtabs {
        padding: 3rem 0;
    }

    .sec6-Ourtabs h3 span {
        color: #7e80a2;
    }
    .sec6-Ourtabs h3 {
        font-size: 35px;
        text-align: center;
    }
    .sec6-Ourtabs .topP {
        width: 60%;
        text-align: center;
        
    }
    .sec6-Ourtabs .topP p{
        padding: 20px 0;
    }
    .sec6-Ourtabs .row {
        display: flex;
        justify-content: center;
    }
    #Biography,#Memoir,#fiction,#Childrens-Book,#Non-Fiction {
        display: none;
    }
    .sec6-Ourtabs .horizontal_tabs_sec .tablinks {
    padding: 15px 30px;
    background: transparent;
    color: #017b8a;
    border: none;
    margin: 15px;
    cursor: pointer;
    font-family: poppinssemi;
    border: 1px solid rgba(0, 0, 0, 0.224);
    }
    .sec6-Ourtabs .horizontal_tabs_sec .details-item {
        display: flex;
        justify-content: center;
    }
    .sec6-Ourtabs .horizontal_tabs_sec .active {
        background-color: #017b8a;
        color: #fff;
    }
    .sec6-Ourtabs .nav-tabContent {
        padding-top: 20px;
    }
    .woodbg {
        background-image: url("../images/woodbg.png");
        background-size: cover;
        height: 30vh;
        background-repeat: no-repeat;
        margin-top: -170px;
    }

    /* sec7-learn */

    .sec7-learn {
        padding: 3rem 0;
    }
    .sec7-learn h3 span{
        color: #7e80a2;
     }
    .sec7-learn h3 {
        font-size: 45px;
     }
     .cards-inner {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        padding: 15px 30px;
        height: 315px;

     }
     .cards-inner p {
        font-size: 14px;
        padding-bottom: 1rem;
     }
     .cards-inner h4 {
        font-size: 25px;
        padding: 10px 0;
        font-family: PoppinsBold;
     }
     .learn-content {
        padding-left: 2rem;
     }
     .learnbook img {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        margin-left: 60px;
     }

     /* sec7-testi */

     .sec7-testi .splide__slide {
        padding: 15px;
     }

     .sec7-testi {
        padding: 3rem 1rem;
     }
     .sec7-testi h4 {
        font-size: 25px ;
        font-family:PoppinsRegural ;
     }
     .sec7-testi h3 span {
        color: #7e80a2;
     }
     .sec7-testi h3 {
        font-size: 35px;
     }
     .testi-heading {
        padding: 0rem 0rem 1.5rem 3rem;
     }
     .testi-box {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: auto;
        width: 430px;
        padding: 50px;
     }
     .sec7-testi .item .profile {
        display: flex;
        padding: 15px 0;
        }
        .sec7-testi .item .profile .information {
            padding-left: 10px;
            /* margin-bottom: 12px; */
            padding-top: 8px;
        }
     .sec7-testi .item .profile .information p {
        font-size: 17px;
        margin: 0px auto 0px;
        color: black;
        font-weight: 900;
        line-height: 1;
    }
    .sec7-testi .item .profile .information span {
        font-size: 13px;
        font-family: PoppinsRegural;
    }
    
     .sec7-testi .sec5-testi .item {
        background: #fff;
        padding: 50px 30px;
        border: 1px solid gray;
        width: 100%;
        height: 400px;
    }

    .sec7-testi .item .profile img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .sec7-testi .item>p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.6em;
        display: block;
        z-index: 2;
        font-style: italic;
        color: black;
        text-align: left;
    }
     /* sec7-testi */

     .sec8-footer {
        background-image: url("../images/footer-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        padding: 3rem 0;
     }
     .sec8-footer h2 {
        font-size: 40px;
        color: #fff;
        padding-left: 13px;
     }
     .footer-inner {
        background-color: #030047;
     }
     .footer-inner input, textarea {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding: 10px 20px 10px 0;
        color: #fff;
        font-family: 'PoppinsSemi';
        margin: 10px;
     }
     .footer-inner form {
        padding: 2.5rem 3rem;
    }
    .Uniqueinput {
        width: 75%;
    }
    .sec8-footer .navcta .btn::before{
        background-color: #017b8a;
    }
    .sec8-footer .row {
        align-items: center;
    }
    .sec8-footer .navcta .btn {
        margin-left: 10px;
    }

    .sec8-footer input::placeholder, .sec8-footer textarea::placeholder{
        color: #fff;
    }
    .main-footer {
        padding: 2rem 0;
    }
    .main-footer h4 span {
        color: #7e80a2;
        font-family: OpenSansBold;
    }
    .main-footer h4 {
     font-family:'OpenSansSemi' ;
     text-align: center;
     padding: 0 15px;
    }

    .Socials-icons a i {
        height: 50px;
        width: 50px;
        background-color: #fff;
        display: block;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #8081a1;
        margin-right: 10px;
    }
    .Socials-icons a {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        color: #fff;
    }


    @media screen and (min-width: 1400px) and (max-width: 1900px) {
        header .splide__arrow--next {
            right: 40px !important;
        }
        header .splide__arrow--prev {
            left: 40px !important;
        }
        .cards-inner {
            padding: 15px 15px;
            height: auto;
        }

    }
    
    @media screen and (min-width: 1400px) and (max-width: 1700px) {
        .cards-inner {
            padding: 15px 15px !important;
            height: 410px !important;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1400px) {
        .container {
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
        }
        .nav-col-4 {
            flex: 0 0 40%;
        }
        .nav-col-6 {
            flex: 0 0 60%;
        }
        
        .col-2 {
            flex: 0 0 50%;
        }
        .col-3 {
            flex: 0 0 50%;
        }
        .col-4 {
            flex: 0 0 25%;
        }

        .banner-heading h1 {
            font-size: 50px;
        }
        .sec4-about .row2 {
            margin-top: -78px;
        }
        .banner-content .row {
            padding: 3rem 0 4rem 0;
        }
        .container-fluid .row {
            padding: 0;
            align-items: center;
        }
        .learn-content {
            padding-left: 1rem;
        }
        .learnbook img {
            margin-left: 0;
        }
        header .splide__arrow--next {
            right: 40px !important;
        }
        header .splide__arrow--prev {
            left: 40px !important;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
        .container {
            max-width: 960px;
            margin: 0 auto;
        }
        .col-4 {
            flex: 0 0 33.33%;
        }
        .col-3 {
            flex: 0 0 50%;
        }
        .sec3-bestseller .nav-col-4 {
            flex: 0 0 50%;
        }
        .sec3-bestseller .nav-col-6 {
            flex: 0 0 50%;
        }
        .logo img {
            width: 85%;
        }
        .btn {
            padding: 14px 10px;
            font-size: 14px;
        }
        .banner-heading h1 {
            font-size: 50px;
        }
        .sec4-about .row2 {
            margin-top: -78px;
        }
        .banner-content .row {
            padding: 3rem 0 4rem 0;
        }
        .container-fluid .row {
            padding: 0;
            align-items: center;
        }
        .learn-content {
            padding-left: 1rem;
        }
        .learnbook img {
            margin-left: 0;
            width: 100%;
        }
        .cards-inner {
            height: 420px;
        }
        .banner-heading h1 .uniqueH1 {
            font-size: 35px;
        }
        .joinsbooks img {
            bottom: -56px;
        }
        header .splide__arrow--next {
            right: 20px !important;
        }
        header .splide__arrow--prev {
            left: 20px !important;
        }
        .seller-bg h3 {
            font-size: 45px;
        }
        .sec4-about .row {
            align-items: center;
        }
        .sec4-about .row2 {
            margin-top: -140px;
        }
        .sec6-Ourtabs .horizontal_tabs_sec .tablinks {
            padding: 10px 28px;
        }
        .plantbooks img {
            margin-bottom: -53px;
            /* margin-right: -45px; */
        }
        .plantbooks {
            margin-top: 170px;
        }
        .plant {
            position: absolute;
            right: 116px;
            bottom: 162px;
        }
        .plantsParent {
            display: flex;
            justify-content: center;
        }

    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        .container {
            max-width: 720px;
            margin: 0 auto;
        }
        .col-2 {
            flex: 0 0 100%;
        }
        .nav-col-4 {
            flex: 0 0 30%;
        }
        .nav-col-6 {
            flex: 0 0 70%;
        }
        .sec3-bestseller .nav-col-4 {
            flex: 0 0 100%;
        }
        .sec3-bestseller .nav-col-6 {
            flex: 0 0 100%;
        }
        .sec7-learn .nav-col-6, .sec7-learn .nav-col-4 {
            flex: 0 0 100%;
        }
        .sec7-learn .row {
            padding: 0;
        }
        .learnbook {
            display: flex;
            justify-content: center;
        }
        .learnbook img {
            margin-left: 0;
        }
        .cards-inner {
            height: 435px;
            padding: 15px 15px;
        }
        header .splide__arrow--prev {
            left: 60px !important;
        }
        header .splide__arrow--next {
            right: 70px !important;
        }
        .logo img {
            width: 100%;
        }
        .btn {
            padding: 14px 10px;
            font-size: 14px;
        }
        .banner-content .row {
            padding: 0rem 0 4rem 0;
        }
        .banner-heading h1 {
            font-size: 45px;
        }
        .banner-heading h1 .uniqueH1 {
            font-size: 40px;
        }
        .joinsbooks img {
            width: 32%;
        }
        .banner-content .card {
            width: 70%;
        }
        .parentForm {
            display: flex;
            justify-content: center;
        }
        .sec1-banner .navmail {
            height: 40px;
            width: 40px;
        }
        .leftnav a {
            font-size: 13px;
        }
        .navcta .btn {
            margin-left: 15px;
        }
        span.sptop {
            width: 335px;
        }
        .plantsParent {
            justify-content: center;
        }
        .plantbooks img {
            margin-bottom: -70px;
        }
        .plantbooks {
            margin-top: 0px;
        }
        .plant img {
            width: 75%;
        }
        .sec6-Ourtabs .horizontal_tabs_sec .tablinks {
            padding: 10px 8px;
        }
        .plant {
            position: absolute;
            right: 210px;
            bottom: 85px;
        }
        nav .links {
            gap: 15px;
        }
        nav .links a {
            font-size: 13px;
        }
        .banner-content {
            padding-top: 10rem;
        }
    }

    @media (min-width: 300px) and (max-width: 767px) {
        .container {
            max-width: 540px;
            margin: 0 auto;
        }

        .col-2 {
            flex: 0 0 100%;
        }
        .col-3 {
            flex: 0 0 50%;
        }
        .nav-col-4 {
            flex: 0 0 40%;
        }
        .nav-col-6 {
            flex: 0 0 60%;
        }
        .sec3-bestseller .nav-col-4 {
            flex: 0 0 100%;
        }
        .sec3-bestseller .nav-col-6 {
            flex: 0 0 100%;
        }
        .sec7-learn .nav-col-6, .sec7-learn .nav-col-4 {
            flex: 0 0 100%;
        }
        .banner-heading h1 {
            font-size: 40px;
        }
        .banner-heading h1 .uniqueH1 {
            font-size: 30px;
        }
        .banner-content .row {
            padding: 0rem 0 3rem 0;
        }
        .btn {
            padding: 14px 10px;
            font-size: 13px;
        }
        .sec1-banner .leftnav {
            display: block;
        }
        .sec1-banner .leftnav .flex {
            display: flex;
            justify-content: end;
        }
        .sec1-banner .leftnav .navcta {
            display: flex;
        }
        .sec1-banner nav .row {
            align-items: normal;
            /* margin-top: -16px; */
        }
        .sec1-banner nav .navcta .btn {
            margin-left: 0;
        }
        .sec1-banner nav .navcta .btn2 {
            margin-left: 10px;
        }
        .emailParent {
            margin-bottom: 16px;
        }
        .joinsbooks img {
            right: 24px;
        }
        header .splide__arrow--next {
            right: 65px !important;
        }
        header .splide__arrow--prev {
            left: 65px !important;
        }
        .navmail {
            width: 40px !important;
            height: 40px !important;
        }
        .plantsParent {
            justify-content: center;
        }
        .plantbooks img {
            margin-bottom: -70px;
        }
        .plantbooks {
            margin-top: 0px;
        }
        .plant img {
            width: 75%;
        }
        .plant {
            position: absolute;
            right: 118px;
            bottom: 89px;
        }
        .seller-bg h3 {
            font-size: 32px;
            padding: 10px 0;
        }
        .sec5-unlock h2 {
            font-size: 32px; 
        }
        .sec6-Ourtabs .horizontal_tabs_sec .tablinks {
            padding: 2px 8px;
            margin: 8px;
        }
        .sec6-Ourtabs .horizontal_tabs_sec .details-item {
            justify-content: flex-start;
            overflow: scroll;
        }
        .cards-inner {
            height: 430px;
        }
        .learnbook {
            display: flex;
            justify-content: center;
        }
        .learnbook img {
            margin-left: 0;
            width: 100%;
        }
        .banner-content .card {
            height: auto;
        }
        .logo img {
            width: 100%;
        }
        .sec1-banner .navmail i {
            font-size: 18px;
        }
        .joinsbooks img {
            width: 33%;
        }
        span.sptop {
            width: 290px;
        }
        .sec2-Topnotch h3 {
            font-size: 35px;
        }
        .banner-content .card h3 {
            font-size: 18px;
            text-align: center;
        }
        .banner-content .card h2 {
            margin-bottom: 0px;
            font-size: 25px;
         
        }
        .sec7-learn h3 {
            font-size: 32px;
        }
        .footer-inner form {
            padding: 2.5rem 1rem;
        }
        .testi-box {
            padding: 15px;
        }
        .nav-fixed .col-12 {
            display: none !important;
        }
        .banner-heading h1 span {
            font-size: 45px;
        }
        .banner-content {
            padding-top: 8rem;
        }
          
    }

    @media screen and (max-width:600px) {


    }
    
    

    @media screen and (max-width:640px) {

        .col-3 {
            flex: 0 0 100%;
        }
        .cards-inner {
            height: auto;
        }
        .plantbooks img {
            width: 100%;
        }
        .plant {
            position: absolute;
            right: 126px;
            bottom: 72px;
        }
        .plant img {
            width: 60%;
        }
        
        .sec2-Topnotch .splide__slide img {
            width: 85%;
        }
        #splide3 .imgBox {
            width: 50%;
        }
        .splide_slide_box {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .emailParent a {
            font-size: 14px;
        }
    }
    @media screen and (max-width:476px) {

        /* .nav-col-4 {
            flex: 0 0 40%;
        }
        .nav-col-6 {
            flex: 0 0 60%;
        } */
        .navcta {
            flex-wrap: wrap;
        }
         .Cta {
            padding-left: 0 !important;
            padding-top: 12px;
        }
        .sec3-bestseller .navcta :nth-child(2), .sec5-unlock .navcta :nth-child(2) {
            margin-left: 25px;
            margin-right: 25px;
        }
        #splide3 .imgBox {
            width: 100%;
        }
        .emailParent a {
            font-size: 13px;
        }
        .sec5-unlock h2 {
            font-size: 26px;
        }
        .sec5-unlock h4 {
            font-size: 22px;
        }
        .sec7-testi h4 {
            font-size: 20px;
        }
        .sec7-testi h3 {
            font-size: 30px;
        }
        .banner-checkicons ul li {
            display: flex;
            align-items: baseline;
        }
        .banner-heading h1 span {
            font-size: 40px;
        }
        nav .btn {
            padding: 12px 4px;
            font-size: 11px;
        }
        .banner-heading h1 {
            font-size: 34px;
        }
        .banner-heading h1 .uniqueH1 {
            font-size: 24px;
        }
        .joinsbooks img {
            width: 42%;
            bottom: -62px;
        }
        .plantsParent .plant  {
            display: flex;
            justify-content: center;
            position: unset;
            right: unset;
            bottom: unset;
        }
        .plantsParent {
            display: block;
        }
        .plantbooks {
            margin-top: -133px;
        }
        .plant img {
            width: 100px;
        }
        .logo img {
            width: 215px;
        }
        .sec1-banner .leftnav {
            display: block;
            padding-top: 40px;
        }
        .sec1-banner .leftnav .flex {
            justify-content: start;
        }
        span.sptop {
         display: none;
        }
        .nav-fixed {
            position: unset;
            background-image: unset;
        }
        .banner-content {
            padding-top: 0;
        }
        .sec1-banner nav .row {
            margin-top: -54px;
        }
        .container-fluid .row {
            padding: 0rem;
            
        }
        header .splide__arrow--next {
            right: 20px !important;
        }
        header .splide__arrow--prev {
            left: 20px !important;
        }
    }

    @media screen and (max-width:501px) {
        .footer-inner input, textarea {
            width: 75%;
        }
    }