html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
    margin: 0;
	padding: 0;
    overflow: hidden;
	overflow-y: auto;
	position: relative;

}

p, a {
    font-family: PoppinsRegural;
    color: black;
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6 {
    font-family: OpenSansBold;
}

ul li, ol li {
    list-style: none;
}


@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family:OpenSansRegural ;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family:OpenSansLight ;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSansSemi;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsSemi ;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsRegural ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: BeautyFont ;
    src: url(../fonts/BeautyDemo.ttf);
}



header .sec1-banner {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    bottom: 0;
}

span.sptop {
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(28 174 174 / 18%);
    height: 393px;
    width: 320px;
    border-radius: 0 0 380px 0;
    box-shadow: 0px 0px 101px 0px #75bbc1;
}
span.spbottom {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(28 174 174 / 18%);
    height: 393px;
    width: 320px;
    border-radius: 0 0 0 380px;
    box-shadow: 0px 0px 101px 0px #75bbc1;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.nav-col-4 {
    flex: 0 0 40%;
}
.nav-col-6 {
    flex: 0 0 60%;
}

.col-2 {
    flex: 0 0 50%;
}
.col-3 {
    flex: 0 0 33.33%;
}
.col-4 {
    flex: 0 0 25%;
}
.col-5 {
    flex: 0 0 20%;
}
.col-12 {
    flex: 0 0 100%;
}

.col-2,.col-3,.col-4,.col-5,.col-12,.nav-col-4,.nav-col-6{
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.sec1-banner nav {
    padding: 1rem 0;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    /* font-weight: 600; */
    color: white;
    /* border: 3px solid rgb(252, 70, 100); */
    cursor: pointer;
    position: relative;
    background-color: #7e80a2;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: PoppinsRegural;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#030047;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

   .sec1-banner .navmail {
    background-color: #030047;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .sec1-banner .navmail i {
    font-size: 22px;
    color: #fff;
   }

   .navmail  {
    margin-right: 10px;
   }

   .navcta .btn {
    margin-left: 25px;
   }

   .navcta .btn2 {
    background-color: #030047;
   }
   .navcta .btn2::before {
    background-color: #7e80a2;
   }

   .leftnav {
    justify-content: space-around;
   }
   
   .banner-heading h1 span {
    font-family: BeautyFont;
    font-size: 60px;
    color: #fff;
    display: flex;
   }
   

   .banner-content .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 8rem  0;
   }

   .banner-heading h1 {
    font-family:OpenSansSemi ;
    font-size: 66px;
    line-height: 1.2;
   }
   .banner-heading h1 .uniqueH1 {
    font-family:OpenSansSemi ;
    font-size: 45px;
    color: black;
   }
   
   .banner-content .card {
    width: 80%;
    height: 460px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 2rem;
    position: relative;
    /* border-radius: 20px; */
}

.banner-content  .card h2 {
    margin-bottom: 20px;
    font-family: OpenSansLight;
    font-size: 30px;
    text-align: center;
}
.banner-content .form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner-content  .card h3 {
    font-size: 23px;
    font-family: OpenSansLight;
    padding-top: 20px;
}
.banner-content  .form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    color: #555a58;
    /* font-family: "Roboto Mono", sans-serif; */
    box-shadow: 1px 5px 9px rgba(211, 211, 211, .7);
}
.banner-content  .form .label {
    display: flex;
    flex-direction: column;
    font-family: OpenSansSemi;
}
.form input.email {
    margin-bottom: 15px;
}
.banner-content  .card .Now {
    width: 100%;
    padding: 10px 0;
    margin-left: 0;
    background: #7e80a2;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 15px;
    font-family: PoppinsRegural;
}
.banner-content  .dpservice {
    margin-top: 15px;
}
.banner-content label #service {
    padding: 8px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 5px 9px rgba(211, 211, 211, .7);
    border-radius: 5px;
}
.banner-checkicons {
    padding-top: 1rem;
    display: flex;
    
}
.banner-checkicons ul li {
    font-family: PoppinsRegural;
    padding-top: 8px;
}
.banner-checkicons i {
    padding-right: 5px;
}
.banner-checkicons div:nth-child(2){
    padding-left: 25px;
}
.banner-content .navcta .btn{
    margin-left: 0;
    margin-top: 1.5rem;
}
.banner-content .navcta :nth-child(2){
    margin-left: 25px;
}
.joinsbooks {
    position: absolute;
    right: -58px;
    bottom: -52px;
}
.joinsbooks img {
    width: 85%;
}


  .uniqueW {
    width: 130px !important;
  }

  /* .splide__slide img {
    width: 130px;
  } */
  header section.splide {
    padding: 3.4rem 0;
  }
  header .splide__arrow--next {
    right: 250px !important;
    }
    header .splide__arrow--prev {
    left: 210px !important;
    }
    header .splide__list {
        align-items: center !important;
    }
    header .splide__arrow {
        border: 2px solid black !important;
        background: transparent !important;
    }

    .sec2-Topnotch {
        padding: 3rem 0;
    }

    /* sec2-about */

    .sec2-Topnotch h3 span {
        color: #7e80a2;
    }
    .sec2-Topnotch h3 {
        font-size: 50px;
        text-align: center;
    }

    .Topnotch p{
        padding: 1rem 3rem;
        text-align: center;
    }


    /* sec3-bestseller */

    .sec3-bestseller {
        background-image: url("../images/bestseller.png");
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sec3-bestseller .seller-bg {
        background-color: #7e80a2;
        height: auto;
        padding: 22px;
    }
    .sec3-bestseller .row {
        padding: 4rem 0;
    }

    .seller-bg h3 {
        font-size: 48px;
        color: #fff;
    }
    .seller-bg p {
        color: #fff;
    }
    .sec3-bestseller .navcta .btn {
        background-color: #181818;
    }
    
    .sec3-bestseller .navcta .btn2 {
        background-color: #030047;
    }
    .sec3-bestseller .navcta .btn2::before {
        background-color: #747474;
    }

    .sec3-bestseller .navcta {
        padding-top: 30px;
    }

    .plant {
        position: absolute;
        right: 96px;
        bottom: 139px;
    }
    
    .plantbooks {
        margin-top: 14px;
    }
    .plantbooks img{
        margin-bottom: -120px;
        margin-right: -45px;
    }
    .sec3-bestseller .navcta .btn {
        margin-left: 0;
    }
    .sec3-bestseller .navcta :nth-child(2) {
        margin-left: 25px;
    }

    /* .sec4-about */

    .sec4-about {
        padding: 3rem 0;
        
    }

    .sec4-about h3{
        font-size: 40px;
        text-align: center;
    }
    .sec4-about span{
        color: #7e80a2;
    }
    .sec4-about div p{
        text-align: center;
        width: 50%;
    }
    .sec4-about .row {
        display: flex;
        justify-content: center;
        
    }